.burger {
	position: relative;
	width: 25px;
	height: 25px;

	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 2px;
		right: 0;
		background-color: var(--white);
		transition: all 0.2s ease-in-out;
	}

	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
	}
}
.burger__line {
	position: absolute;
	width: 100%;
	height: 2px;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: var(--white);
	transition: all 0.2s ease-in-out;
}

.burger__line--hide {
	opacity: 0;
	transition: all 0.2s ease-in-out;
}

.burger__line--transform::before {
	top: 50%;
	transform: rotate(45deg);
	transition: all 0.2s ease-in-out;
}

.burger__line--transform::after {
	top: 50%;
	transform: rotate(-45deg);
	transition: all 0.2s ease-in-out;
}
