.burger {
	position: relative;
	justify-self: end;
	width: 30px;
	height: 25px;

	&::after,
	&::before {
		content: '';
		height: 2px;
		width: 100%;
		background-color: var(--white);
		position: absolute;
		left: 0;
	}

	&::before {
		top: 0;
	}
	&::after {
		bottom: 0;
	}
}
.burger__lines {
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	transform: translateY(-50%);
	top: 50%;
	background-color: var(--white);
}

.burger__line--hide {
	opacity: 0;
}

.burger--transform::after {
	transform: rotate(45deg);
	top: 50%;
	transition: all 0.2s ease-in-out;
}

.burger--transform::before {
	transform: rotate(-45deg);
	top: 50%;
	transition: all 0.2s ease-in-out;
}

@media (min-width: 768px) {
	.burger {
		display: none;
	}
}
