.header {
	background-color: var(--main-bg-color);
}
.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
.header__logo {
}
.nav {
}
.nav__list {
	display: flex;
	gap: 0 20px;
}
.nav__item {
}
.nav__link {
	color: var(--secondary-text-color);
}

