.header {
  background-color: var(--main-bg-color)
}
.header__inner {
  display: flex;
}
.header__menu {
}
.header__list {
  display: flex;
}
.header__list-item {
}
.header__list-link {
  color: var(--secondary-text-color);
}