body {
  font-family: var(--main-font);
  font-size: var(--global-font-size);
  color: var(--main-text-color);
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

a {
  text-decoration: none;
}
