body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: var(--main-font);
	font-size: var(--global-font-size);
	color: var(--main-text-color);
	background-color: rgba(0, 122, 204, 0.2);
}

.main {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main__inner {
	margin: 0;
	padding: 16px;
	border-radius: 10px;
	color: var(--secondary-text-color);
	background-color: var(--secondary-bg-color);
	text-shadow: 6px 8px 6px rgba(0, 0, 0, 0.6);
	box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.4);
}

.main__inner {
	font-size: 18px;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 15px;
}

a {
	text-decoration: none;
}

h1 {
	margin: 0;
}
