@import '@a1rth/css-normalize';
@import './fonts.css';
@import './variables.css';
@import './globals.css';
@import './helpers.css';

@import './blocks/header.css';
@import './blocks/footer.css';

@import './components/burger.css';

