:root {
	--main-font: 'Montserrat', sans-serif;

  --main-color: #000;

	--main-text-color: #000;
	--secondary-text-color: #fff;

	--accent-color: rgb(255, 150, 150);
	--action-color: #3597ff;

	--main-bg-color: #272727;
  --secondary-bg-color: #4c4c4c;

	--white: #fff;

  --global-font-size: 16px;
}
