:root {
	--main-font: 'Montserrat', sans-serif;

  --main-color: #000;

	--main-text-color: #000;
	--secondary-text-color: #f9f9f9;

	--accent-color: #ff9696;
	--action-color: #3597ff;

	--main-bg-color: #272727;
  --secondary-bg-color: #474747;

	--white: #fff;

  --global-font-size: 16px;
}
